<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.2.1/howler.js" integrity="sha512-J+vDCDlH9TYo4uL0R5g9TCvJj8oGATXWi17AcOyUhuyEbJf0SF5HSmKv1gwPCEowauPanV0RAaYjyU+kbowtQg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.10.2/addons/p5.sound.js" integrity="sha512-5hBa9ZS0IR0MYfUAcvmqqMI5c6ax4X7LqymcTCXGCI7RckGX/3oICJw/hkm/5gdSg6mn7pReg47UPQPUuoccmg==" crossorigin="anonymous"></script>    <script src="https://cdn.jsdelivr.net/npm/matter-js@0.16.1/build/matter.min.js"></script>
    <script src="/javascripts/light.js"></script>
    <script src="/javascripts/util.js"></script>
    <script src="/javascripts/Ray.js"></script>
    <script src="/javascripts/Boundary.js"></script>
    <script src="/javascripts/Particle.js"></script>
      <script src="/javascripts/Waypoints.js"></script>
    <script src="/javascripts/sketch.js"></script>
      <script src="/javascripts/Easystar.js"></script>
   <!-- <script src="/javascripts/3D.js"></script> -->
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
